*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    overflow-y: scroll;
}
@media(max-width:1024px) and (min-width:480px){
    body{
        overflow-x: hidden;
    }
}
.gif img{
    width: 100%;
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.head .rol{
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
    left: 3px;
}
.head a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a .dif{
    color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}
.head .col{
    color: rgb(243, 125, 56);
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}
a .diff{
    color: rgb(255, 1, 149);
    font-family: 'Courier New', Courier, monospace;
}
.head .coll{
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
}
.head .ab{
   margin: 5px 25px;
}
.head .bc{
    margin: 10px 25px;
 }
.head .cd{
    margin: 5px 25px;
 }
.head .de{
    margin: 12px 25px;
 }
.head .ef{
    margin: 5px 25px;
 }
.head .fg{
    margin: 5px 25px;
 }
 .title{
    display: flex;
    background-color: #ed017f;
    align-items: center;  
    height: 65px; 
}
.title .emoji{
     width: 25px;
     height: 25px;
     position: relative;
     top: 3px;
     left: 27px;
 }
 @media(max-width:1024px){
    .emoji{
        display: none;
    }
}
 .title a{
    color: white;
    text-decoration: none;
    padding: 15px 55px 15px 17px;
    display: inline-block;
 }
 .main a{
     font-weight: bold;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;  
 }
 @media(max-width:1024px){
    .title a{
        display: none;
    }
}
 .store:hover{
     background-color: white;
 }
 .store a:hover{
     color: #ed017f;
 }
 .sell:hover{
     background-color: white;
 }
 .sell a:hover{
     color: #ed017f;
 }
.title input[type=text]{
     width: 400px;
     height: 20px;
     padding: 7px;
     border: none;
     outline: none;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
 }
 @media(max-width:480px) and (min-width:1024px){
    .title input[type=text]{
        width: 530px;
    }
}
 .search-box{
    display: flex;
    align-items: center;
 }
 @media(max-width:1024px) and (min-width:480px){
    .search-box{
        padding: 14px;
    }
}
 .search-box .img{
     background-color: #fba100;
     padding: 9.8px 13px 5.5px 13px;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
 }
 .img img{
     position: relative;
     top: 1px;
 }
 .dropdown{
    position: relative;
    display: inline-block;
    color: #fff;
 }
 @media(max-width:1024px){
    .dropdown, .lastrow{
        display: none;
    }
}
 .dropdown-content{
     display: none;
     position: absolute;
     background-color: white;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     min-width: 160px;
 }
 .dropbtw{
    color: inherit;
    padding: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
 }
 .dropdown-content a {
    color: #4a4a4a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #ed017f;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}
.dropdown:hover{
    background-color: white;
    color: #ed017f;
}
.login:hover{
    background-color: white;
}
.login a:hover{
    color: #ed017f;
}
.lastrow a{
    display: flex;
    padding: 4px 0;   
}
.lastrow button[type=button]{
    width: 120px;
    background-color: #33b27b;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.cart .mycart{
    color: white;
    font-size: 13px;
    font-weight: lighter;
}
.cart .button{
    padding: 4px 5px;
    border: none;
    border-radius: 2px;
    background-color: white;
}
.cart .carticon{
    padding-right: 5px;
}
.cart .cartbutton{
    padding-left: 12px;
}
.lastrow button:hover{
    background-color: #2d9e6d;
}
.lastrow{
    padding-left: 8px;
}
.navbar{
    display: flex;
    background-color: #94004f;
    align-items: center;  
    height: 40px; 
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .navbar a, .navbar{
        display: none;
    }
}
.navbar .categories{
    font-weight: bold;
}
.navbar .menubar{
    position: relative;
    top: 5px;
}
.navbar .all-categories{
    padding-bottom: 4px;
}
.navbar a:hover{
    color: black;
    background-color: white;
    padding: 11px 20px;
}
.navbar .categories:hover{
    padding: 10px 20px 13px 20px;
}
.home{
    background-color: white;
    padding: 20px 30px;
}
@media(max-width:1024px) and (min-width:480px){
    .home{
        padding-bottom: 0;
    }
}
.home .homebar{
    display: flex;
    padding-bottom: 10px;
}
.homebar ul{
    display: flex;
}
li .link1:after{
    border-style: solid;
    border-width: .05em .05em 0 0;
    color: #9b9b9b;
    content: "";
    display: inline-block;
    height: .4em;
    opacity: .8;
    position: relative;
    right: -.35rem;
    top: .375rem;
    -webkit-transform: rotate(45deg);  
    vertical-align: top;
    width: .4em;
}
li .link1{
    color: black;
    font-size: 14px;
}
li .link2{
    padding-left: 13px;
    color: #94004f;
    font-size: 14px;
    font-weight: bold;
}
@media(max-width:1024px) and (min-width:480px){
    .link1, .link2, .col-2 span, ul{
        display: none;
    }
}
.homebar .results{
    margin-left: auto;
    font-size: 13px;
    opacity: 0.6;
}
@media(max-width:1024px) and (min-width:480px){
    .results{
        position: relative;
        top: 25px;
        right: 150px;
    }
}
ul{
    list-style-type: none;
}
.home a{
    text-decoration: none;
}
.home .phones{
    display: flex;
    padding-top: 10px;
}
.phones .col-2{
    display: flex;
    margin-left: auto;
    padding-top: 10px;
}
.phones li{
    display: inline;
    border: 1px solid red;
    padding: 5px;
    border-color: #f84ca2;  
}
.phones h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:1024px) and (min-width:480px){
    .phones h1{
        font-size: 20px;
        position: relative;
        bottom: 40px;
        margin-left: 120px;
    }
}
.phones .border2{
    border-left: 0;
    border: .0625rem solid #ccc;
}
.phones .border3{
    border-left: 0;
    border: .0625rem solid #ccc;
}
.phones a{
    color: black;
    font-size: 13px;
    opacity: 0.8;
}
.phones .active{
    color: #f84ca2;
}
.col-2 span{
    padding-right: 10px;
    font-size: 14px;
}
.sidebar{
    overflow-y: scroll;
    width: 20.5%;
    margin: 20px 0 0 40px;
    max-height: 131.25rem;
}
@media(max-width:1024px) and (min-width:480px){
    .sidebar{
        display: none;
    }
}
.btn1 a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 4px 0 4px 0;
    opacity: 0.8;
}
.btn1 h3{
    margin-top: 17px;
    padding-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.section-divider{
    border-bottom: 1px solid #ccc;
    margin: 7px 0 23px 0;
}
.btn2 h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    cursor: pointer;
}
.btn2 .primary{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
}
.primary input[type=radio]{
    margin-right: 9px;
    cursor: pointer;
}
.primary .btn2-1{
    display: flex;
    align-items: center;
}
.btn2 .btn2-2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding-bottom: 10px;
}
.btn2 input[type=number]{
    width: 50px;
    padding: 7px 3px 7px 17px;
    margin: 0 7px 0 0;
}
.btn2 button[type=submit]{
    border: 1px solid #f84ca2;
    color: #f84ca2;
    font-weight: bold;
    width: 55px;
    padding: 8px 5px;
    cursor: pointer;
}
.btn2 button[type=submit]:hover{
    background-color: #ed017f;
    color: white;
}
.btn2 .section-divider2{
    border-bottom: 1px solid #ccc;
    margin: 21px 0 25px 0;
}
.btn3 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    cursor: pointer;
}
.btn3 .btn3-1{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.btn3-1 input[type=text]{
    width: 185px;
    padding: 7px;
    outline: none;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.btn3-1 img{
    background-color: white;
    padding: 6px 5px 8px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.btn3 .btn3-2{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    overflow-y: scroll;
    min-height: 400px;
    padding-top: 6px;
    width: 223px;
}
.btn3-2 .btn3-2-12{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.btn3-2 input[type=checkbox]{
    margin-right: 9px;
    cursor: pointer;
}
.btn3-2-1 span{
    display: flex;
    margin-left: 175px;
    position: relative;
    bottom: 16px;
    font-size: 14px;
    opacity: 0.8;
    float: right;
}
.btn3 .section-divider3{
    border-bottom: 1px solid #ccc;
    margin: 5px 0 23px 0;
}
.btn4 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
    cursor: pointer;
}
.btn4 .btn4-1{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    width: 223px;
}
.btn4-1 .btn4-1-12{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.btn4-1 input[type=checkbox]{
    margin-right: 9px;
    cursor: pointer;
}
.btn4-1-1{
    margin-bottom: 10px;
}
.btn4-1-1 span{
    display: flex;
    margin-left: 100px;
    position: relative;
    bottom: 16px;
    font-size: 14px;
    opacity: 0.8;
    float: right;
}
.btn4 .section-divider4{
    border-bottom: 1px solid #ccc;
    margin: 15px 0 25px 0;
}
.btn5 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn5 .btn5-1{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    width: 223px;
}
.btn5-1 .btn5-1-12{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.btn5-1 input[type=checkbox]{
    margin-right: 9px;
    cursor: pointer;
}
.btn5-1-1{
    margin-bottom: 10px;
}
.btn5-1-1 span{
    display: flex;
    margin-left: 900px;
    position: relative;
    bottom: 16px;
    font-size: 14px;
    opacity: 0.8;
    float: right;
}
.btn5 .section-divider5{
    border-bottom: 1px solid #ccc;
    margin: 15px 0 23px 0;
}
.btn6 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn6 .btn6-1{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    width: 223px;
}
.btn6-1 .btn6-1-12{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.btn6-1 input[type=checkbox]{
    margin-right: 9px;
    cursor: pointer;
}
.btn6-1-1{
    margin-bottom: 10px;
}
.btn6-1-1 span{
    display: flex;
    margin-left: 900px;
    position: relative;
    bottom: 16px;
    font-size: 14px;
    opacity: 0.8;
    float: right;
}
.btn6 .section-divider6{
    border-bottom: 1px solid #ccc;
    margin: 15px 0 25px 0;
}
.btn7 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn7 .btn7-1{
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    width: 223px;
}
.btn7-1 .btn7-1-12{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.btn7-1 input[type=checkbox]{
    margin-right: 9px;
    cursor: pointer;
}
.btn7-1-1{
    margin-bottom: 10px;
}
.btn7-1-1 span{
    display: flex;
    margin-left: 900px;
    position: relative;
    bottom: 16px;
    font-size: 14px;
    opacity: 0.8;
    float: right;
}
.bar{
    display: flex;
}
.btw{
    width: 79.5%;
}
.btw .btw1{
    width: 750px;
    padding: 30px 35px 15px 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw .btw1{
        padding: 10px 30px 10px 6px;
    }
}
.btw1 img{
    width: 922px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw1 img{
        width: 473px;
    }
}
.btw2{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2{
        display: block;
        padding: 0;
    }
}
.btw2 .btw2-1{
    width: 23.28%;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    margin-right: 16px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2 .btw2-1{
        display: flex;
        width: 483px;
        margin-bottom: 20px;
    }
}
.btw .btw2-1:hover{
    cursor: pointer;
    box-shadow: 1px 0 0 1px #ccc;
}
.btw2 img{
    height: 180px;
    width: 180px;
    object-fit: cover;   
}
@media(max-width:1024px) and (min-width:480px){
    .btw2 img{
        height: 120px;
        width: 120px;
    }
}
.btw2-1 .btw2-1-1{
    padding: 15px 25px 15px 0;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2-1 .btw2-1-1{
        padding: 0 0 20px 30px;
    }
}
.btw2-1-1 .btw2-1-11{
    padding-left:10px;
    text-align: left;
}
.btw2-1-1 .section-dividera{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 10px 10px;
    width: 190px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2-1-1 .section-dividera, .section-dividerb{
        display: none;
    }
}
.btw2-1 .btw2-1-13{
    display: flex;
    margin: 0 12px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2-1 .btw2-1-13{
        margin-top: 6px;
        margin-bottom: 5px;
    }
}
.btw2-1-12 del{
    margin-left: 60px;
    opacity: 0.5;
    font-size: 15px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2-1-12 del{
        margin-left: 170px;
        position: relative;
        top: 3px;
    }
}
.btw2-1-12 p {
    font-weight: bold;
    font-size: 20px;
}
.btw2-1-1 .section-dividerb{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 20px 10px;
    width: 190px;
}
.btw2-1-12 .left{
    margin-right: 10px;
}
.btw2-1-1 .btw2-1-14{
    text-align: left;
}
.btw2-1-14 p{
    padding-left: 10px;
}
.btw2-1-14 span{
    opacity: 0.4;
}
.btw2-1-14 .btw2-1-15{
    color: #644ba0;
    font-size: 14px;
    padding-bottom: 5px;
}
.btw2-1-14 .btw2-1-16{
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 8px;
}
.btw2-1-1 .rating{
    text-align: left;
    padding: 0 0 20px 10px;
}
.btw2-1-1 .rating1{
    text-align: left;
    padding: 25px 0 20px 10px;
}
.btw2-1-1 button[type=submit]{
    padding: 10px 50px;
    border-radius: 4px;                         
    justify-content: center;
    border: 1px solid #f84ca2;
    color: #f84ca2;
    font-weight: bold;
    background-color: white;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2-1-1 button[type=submit]{
        display: none;
    }
}
.btw2-1-1 button[type=submit]:hover{
    background-color: #ed017f;
    color: white;
}


.btw2 .btw3-1{
    width: 23.28%;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    margin-right: 16px;
    margin-top: 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2 .btw3-1{
        display: flex;
        width: 483px;
        margin-bottom: 10px;
    }
}
.btw .btw3-1:hover{
    cursor: pointer;
    box-shadow: 1px 0 0 1px #ccc;
}
.btw3 img{
    height: 180px;
    width: 180px;
    object-fit: cover;   
}
.btw3-1 .btw3-1-1{
    padding: 15px 25px 15px 0;
}
@media(max-width:1024px) and (min-width:480px){
    .btw3-1 .btw3-1-1{
        padding: 0 0 20px 30px;
    }
}
.btw3-1-1 .btw3-1-11{
    padding-left:10px;
    text-align: left;
}
.btw3-1-1 .section-dividera{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 10px 10px;
    width: 190px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw3-1-1 .section-dividera, .section-dividerb{
        display: none;
    }
}
.btw3-1 .btw3-1-13{
    display: flex;
    margin: 0 12px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw3-1 .btw3-1-13{
        margin-top: 6px;
        margin-bottom: 5px;
    }
}
.btw3-1-12 del{
    margin-left: 60px;
    opacity: 0.5;
    font-size: 15px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw3-1-12 del{
        margin-left: 170px;
        position: relative;
        top: 3px;
    }
}
.btw3-1-12 p {
    font-weight: bold;
    font-size: 20px;
}
.btw3-1-1 .section-dividerb{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 20px 10px;
    width: 190px;
}
.btw3-1-12 .left{
    margin-right: 10px;
}
.btw3-1-1 .btw3-1-14{
    text-align: left;
}
.btw3-1-14 p{
    padding-left: 10px;
}
.btw3-1-14 span{
    opacity: 0.4;
}
.btw3-1-14 .btw3-1-15{
    color: #644ba0;
    font-size: 14px;
    padding-bottom: 5px;
}
.btw3-1-14 .btw3-1-16{
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 8px;
}
.btw3-1-1 .rating{
    text-align: left;
    padding: 0 0 20px 10px;
}
.btw3-1-1 .rating1{
    text-align: left;
    padding: 25px 0 20px 10px;
}
.btw3-1-1 button[type=submit]{
    padding: 10px 50px;
    border-radius: 4px;                         
    justify-content: center;
    border: 1px solid #f84ca2;
    color: #f84ca2;
    font-weight: bold;
    background-color: white;
}
@media(max-width:1024px) and (min-width:480px){
    .btw3-1-1 button[type=submit]{
        display: none;
    }
}
.btw3-1-1 button[type=submit]:hover{
    background-color: #ed017f;
    color: white;
}


.btw2 .btw4-1{
    width: 23.28%;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    margin-right: 16px;
    margin-top: 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2 .btw4-1{
        display: flex;
        width: 483px;
        margin-bottom: 10px;
    }
}
.btw .btw4-1:hover{
    cursor: pointer;
    box-shadow: 1px 0 0 1px #ccc;
}
.btw4 img{
    height: 180px;
    width: 180px;
    object-fit: cover;   
}
.btw4-1 .btw4-1-1{
    padding: 15px 25px 15px 0;
}
@media(max-width:1024px) and (min-width:480px){
    .btw4-1 .btw4-1-1{
        padding: 0 0 20px 30px;
    }
}
.btw4-1-1 .btw4-1-11{
    padding-left:10px;
    text-align: left;
}
.btw4-1-1 .section-dividera{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 10px 10px;
    width: 190px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw4-1-1 .section-dividera, .section-dividerb{
        display: none;
    }
}
.btw4-1 .btw4-1-13{
    display: flex;
    margin: 0 12px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw4-1 .btw4-1-13{
        margin-top: 6px;
        margin-bottom: 5px;
    }
}
.btw4-1-12 del{
    margin-left: 60px;
    opacity: 0.5;
    font-size: 15px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw4-1-12 del{
        margin-left: 170px;
        position: relative;
        top: 3px;
    }
}
.btw4-1-12 p {
    font-weight: bold;
    font-size: 20px;
}
.btw4-1-1 .section-dividerb{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 20px 10px;
    width: 190px;
}
.btw4-1-12 .left{
    margin-right: 10px;
}
.btw4-1-1 .btw4-1-14{
    text-align: left;
}
.btw4-1-14 p{
    padding-left: 10px;
}
.btw4-1-14 span{
    opacity: 0.4;
}
.btw4-1-14 .btw4-1-15{
    color: #644ba0;
    font-size: 14px;
    padding-bottom: 5px;
}
.btw4-1-14 .btw4-1-16{
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 8px;
}
.btw4-1-1 .rating{
    text-align: left;
    padding: 0 0 20px 10px;
}
.btw4-1-1 .rating1{
    text-align: left;
    padding: 25px 0 20px 10px;
}
.btw4-1-1 button[type=submit]{
    padding: 10px 50px;
    border-radius: 4px;                         
    justify-content: center;
    border: 1px solid #f84ca2;
    color: #f84ca2;
    font-weight: bold;
    background-color: white;
}
@media(max-width:1024px) and (min-width:480px){
    .btw4-1-1 button[type=submit]{
        display: none;
    }
}
.btw4-1-1 button[type=submit]:hover{
    background-color: #ed017f;
    color: white;
}


.btw2 .btw5-1{
    width: 23.28%;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    margin-right: 16px;
    margin-top: 20px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw2 .btw5-1{
        display: flex;
        width: 483px;
        margin-bottom: 10px;
    }
}
.btw .btw5-1:hover{
    cursor: pointer;
    box-shadow: 1px 0 0 1px #ccc;
}
.btw5 img{
    height: 180px;
    width: 180px;
    object-fit: cover;   
}
.btw5-1 .btw5-1-1{
    padding: 15px 25px 15px 0;
}
@media(max-width:1024px) and (min-width:480px){
    .btw5-1 .btw5-1-1{
        padding: 0 0 20px 30px;
    }
}
.btw5-1-1 .btw5-1-11{
    padding-left:10px;
    text-align: left;
}
.btw5-1-1 .section-dividera{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 10px 10px;
    width: 190px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw5-1-1 .section-dividera, .section-dividerb{
        display: none;
    }
}
.btw5-1 .btw5-1-13{
    display: flex;
    margin: 0 12px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw5-1 .btw5-1-13{
        margin-top: 6px;
        margin-bottom: 5px;
    }
}
.btw5-1-12 del{
    margin-left: 60px;
    opacity: 0.5;
    font-size: 15px;
}
@media(max-width:1024px) and (min-width:480px){
    .btw5-1-12 del{
        margin-left: 170px;
        position: relative;
        top: 3px;
    }
}
.btw5-1-12 p {
    font-weight: bold;
    font-size: 20px;
}
.btw5-1-1 .section-dividerb{
    border-bottom: 1px solid #ccc;
    margin: 8px 0 20px 10px;
    width: 190px;
}
.btw5-1-12 .left{
    margin-right: 10px;
}
.btw5-1-1 .btw5-1-14{
    text-align: left;
}
.btw5-1-14 p{
    padding-left: 10px;
}
.btw5-1-14 span{
    opacity: 0.4;
}
.btw5-1-14 .btw5-1-15{
    color: #644ba0;
    font-size: 14px;
    padding-bottom: 5px;
}
.btw5-1-14 .btw5-1-16{
    font-size: 14px;
    opacity: 0.8;
    padding-bottom: 8px;
}
.btw5-1-1 .rating{
    text-align: left;
    padding: 0 0 20px 10px;
}
.btw5-1-1 .rating1{
    text-align: left;
    padding: 25px 0 20px 10px;
}
.btw5-1-1 button[type=submit]{
    padding: 10px 50px;
    border-radius: 4px;                         
    justify-content: center;
    border: 1px solid #f84ca2;
    color: #f84ca2;
    font-weight: bold;
    background-color: white;
}
@media(max-width:1024px) and (min-width:480px){
    .btw5-1-1 button[type=submit]{
        display: none;
    }
}
.btw5-1-1 button[type=submit]:hover{
    background-color: #ed017f;
    color: white;
}
.details{
    margin: 90px 45px 0 280px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.details .upper{
    padding: 13px 30px 30px 15px;
}
.upper h3,h2{
    opacity: 0.5;
    padding-bottom: 12px;
}
.upper p{
    opacity: 0.4;
    letter-spacing: 1px;
    line-height: 25px;
}
.details .lower{
    padding: 13px 30px 30px 15px;
}
.lower p{
    opacity: 0.4;
    letter-spacing: 1px;
    line-height: 25px;
}
.footer .up{
    background-color: #2e2e2e;
    padding: 5px;
}
.footer .up1{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
}
.footer .col5{
    margin-right: 50px;
}
.col5 h3{
    color: #f5f5f5;
    opacity: 0.6;
    padding-bottom: 14px;
}
.col5 a{
    color: white;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.up input[type=text]{
    width: 230px;
    height: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    padding: 8px;
    font-weight: bold;
}
.up button[type=submit]{
    width: 100px;
    height: 51px;
    background-color: #ed017f;
    border-style: none;
    color: white;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;    
}
.footer .col6{
    display: flex;
}
.footer .down{
    background-color: rgba(0, 0, 0, 0.877);
    padding: 25px 10px 40px 30px;
}
.footer .down1{
    display: flex;
}
.footer .col7{
    display: block;
}
.col7 .head4{
    padding: 0 40px 13px 0;
}
.col7 h4{
    color: #b5b5b5;
    cursor: default;
    font-weight: bold;
}
.col7 h4:hover{
    color: white;
}
.col7 a{
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    padding: 5px 0;
    font-size: 14px;
}
.col7 a:hover{
    color: white;
}
.col7 .head5{
    display: flex;
}
.col7 .col8{
    padding-right: 80px;
    cursor: pointer;
}
.col8 p{
    color: #b5b5b5;
    font-size: 14px;
}
.col8 h3{
    color: #b5b5b5;
}
.col7 .head6{
    padding-top: 45px;
}
.col7 .head7{
    padding-top: 20px;
    cursor: pointer;
}
.down2 h4{
    color: #b5b5b5;
    font-size: 14px;
    text-align: center;
} 
.down2 .col9{
    padding-top: 80px;
}
.down2 .copyright{
    position: relative;
    top: 5px;
}
.head8:before{
    margin-left: -50%;
    right: .5em;
}
.head8:before{
    background-color: #333;
    content: "";
    display: inline-block;
    height: .125rem;
    position: relative;
    vertical-align: middle;
    width: 38%;
}
.head8:after{
    left: .5em;
    margin-right: -50%;
}
.head8:after{
    background-color: #333;
    content: "";
    display: inline-block;
    height: .125rem;
    position: relative;
    vertical-align: middle;
    width: 37%;
}
@media(max-width:1024px) and (min-width:480px){
    .details, .footer{
        display: none;
    }
}